.who_are {
  padding: 30px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.who_are__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.who_are__item--invert {
  margin-top: 30px;
}
.who_are__img {
  max-width: 100%;
  width: 100%;
}
.who_are__title {
  font-size: 28px;
  margin: 0 0 15px;
}
.who_are__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-size: 22px;
}
.who_are__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.who_are__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.who_are__hidden {
  margin-top: 20px;
}
.who_are__button {
  font-size: 18px;
  color: black;
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 0 0 5px;
  width: auto;
}

@media (min-width: 768px) {
  .who_are {
    padding: 30px 0;
  }
  .who_are__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .who_are__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}
@media (min-width: 1024px) {
  .who_are {
    padding: 61px 0 30px;
  }
  .who_are__item--invert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
  .who_are__figure {
    width: 600px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
  }
  .who_are__item {
    gap: 50px;
  }
  .who_are__title {
    margin: 50px 0 30px;
    font-size: 54px;
  }
  .who_are__content {
    font-size: 17px;
    max-width: 560px;
    line-height: 27px;
  }
  .who_are__feature {
    gap: 20px;
    font-size: 25px;
    max-width: 540px;
  }
  .who_are__footer {
    margin: 15px 0 0;
  }
  .who_are__button {
    font-size: 20px;
  }
}