.section_hero {
  background: #000;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.section_hero .hero_swiper .swiper-container,
.section_hero .hero_swiper {
  height: 100vh;
}
.section_hero__title {
  position: absolute;
  bottom: 230px;
  right: 20px;
  font-size: 75px;
  max-width: 240px;
}
.section_hero__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section_hero__video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section_hero .row {
  height: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
  top: 0;
  position: absolute;
}
.section_hero .swiper-pagination {
  bottom: 89px;
  top: inherit;
  bottom: 50px;
  top: inherit;
}
.section_hero .swiper-pagination-bullet {
  background: black;
}
.section_hero .swiper-pagination-bullet.active {
  background: #aed27f;
}

@media (min-width: 768px) {
  .section_hero__title {
    right: 45px;
    font-size: 135px;
    max-width: inherit;
  }
}
@media (min-width: 1024px) {
  .section_hero__title {
    font-size: 185px;
  }
}