.section_how {
  background: #F3F2F0;
}

.item_how__row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.item_how__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.item_how__label {
  font: 400 21px/1 var(--font-family);
}
.item_how__title {
  font: 700 32px/1 var(--font-family);
}
.item_how__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.item_how__ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  gap: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  margin-bottom: 20px;
}
.item_how__ul-first {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.item_how__image {
  height: 170px;
  width: 100%;
}
.item_how__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .item_how__row {
    gap: 25px;
  }
  .item_how__header {
    position: relative;
  }
  .item_how__label {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 30px;
  }
  .item_how__title {
    font-size: 47px;
  }
  .item_how__content {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .item_how__row {
    gap: 30px;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .item_how__label {
    font-size: 32px;
    top: 30px;
  }
  .item_how__title {
    font-size: 90px;
  }
  .item_how__content {
    font-size: 22px;
  }
  .item_how__image {
    height: 280px;
  }
  .item_how__ul {
    font-size: 19px;
  }
  .item_how__ul-first {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}
@media (min-width: 1530px) {
  .item_how__label {
    font-size: 42px;
    top: 50px;
  }
  .item_how__title {
    font-size: 138px;
  }
  .item_how__content {
    font-size: 25px;
  }
  .item_how__image {
    height: 368px;
  }
}