.section_hero {
  background: #000;
  background: url("../images/hero/1x/bg-hero-100.jpg") no-repeat center;
  background-size: cover;
  color: white;
  height: 100vh;
}
.section_hero__title {
  position: absolute;
  bottom: 230px;
  right: 20px;
  font-size: 75px;
  max-width: 240px;
}
.section_hero .row {
  height: 100%;
}

@media (min-width: 768px) {
  .section_hero__title {
    right: 45px;
    font-size: 135px;
    max-width: inherit;
  }
}
@media (min-width: 1024px) {
  .section_hero__title {
    font-size: 185px;
  }
}