.section_hero {
  background: #000;
  color: white;
  height: 100vh;
}
.section_hero__title {
  position: absolute;
  right: 45px;
  bottom: 230px;
  font-size: 235px;
}
.section_hero .row {
  height: 100%;
}