.footer {
    background: #333;
    color: white;
    padding: 30px 0;


    &-row {
        display: flex;
        flex-direction: column;
        // gap: 155px;
        gap: 30px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }

    &__col {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 42px;
    }
}

.social {
    display: flex;
    flex-direction: column;
}