.footer {
    background: #333;
    color: white;
    padding: 30px 0;



    &-row {
        display: flex;
        flex-direction: column;
        // gap: 155px;
        gap: 30px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }

    &__col {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 42px;
    }

    small {
        font-size: 10px;
        top: -5px;
        position: relative;
    }
}

.social {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {

    .footer {
        padding: 80px 0;

        a:hover {
            color: #AED27F;
        }

        &-row {
            gap: 80px;
        }

        &__row {
            flex-direction: row;
            font-size: 18px;
        }

        &__title {
            font-size: 38px;
            margin: -14px 0 0;
        }

        &__lkn {
            display: flex;
            flex-direction: column;
        }

        &__col {
            &:last-child {
                flex-direction: column-reverse;
                max-width: 430px;
                flex: 2;
            }
        }

        &__copy {
            font-size: 14px;
        }
    }
}

@media (min-width: 1440px) {}