.footer {
    background: #333;
    color: white;
    padding: 140px 0;
    gap: 155px;

    &-row {
        display: flex;
        flex-direction: column;
        gap: 155px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    &__col {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 42px;
    }
}