.who_are {
    padding: 61px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    &__item--invert {
        margin-top: 30px;
    }

    &__figure {
        padding: 0 50px;
    }

    &__img {
        max-width: 100%;
        width: 100%;
    }

    &__title {
        font-size: 28px;
        margin: 0 0 15px;
    }

    &__feature {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 22px;
    }

    &__content {
        line-height: 21px;
        flex-direction: column;

        &.active {
            display: flex;
        }
    }

    &__hidden {
        margin-top: 20px;
    }

    &__button {
        font-size: 18px;
        color: black;
        border-bottom: 1px solid black;
        display: inline-block;
        padding: 0 0 5px;
        display: none;
        width: auto;
    }
}

@media (min-width: 768px) {
    .who_are {
        padding: 61px 0;

        &__item {
            flex-direction: row;
        }

        &__figure {
            flex: 0 0 400px;
        }
    }
}

@media (min-width: 1024px) {
    .who_are {
        padding: 61px 0 30px;

        &__item--invert {
            flex-direction: row-reverse;
            text-align: right;
        }

        &__figure {
            flex: 0 0 600px;
            width: 600px;
            padding: 0 80px;
        }

        &__item {
            gap: 50px;
        }

        &__title {
            margin: 50px 0 30px;
            font-size: 54px;

        }

        &__content {
            font-size: 17px;
            max-width: 560px;
            line-height: 27px;
        }

        &__feature {
            gap: 20px;
            font-size: 25px;
            max-width: 540px;
        }

        &__footer {
            margin: 15px 0 0;
        }

        &__button {
            font-size: 20px;
        }
    }
}

@media (min-width: 1440px) {}