.books {
    padding: 30px 0;
    position: relative;
    overflow: hidden;


    .swiper-wrapper {
        padding-bottom: 50px;
    }

    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #F26D43;
    }

    .swiper-slide {
        max-width: 300px;
    }

    &__data {
        display: none;
    }

    &_item {
        max-width: 300px;
        height: 300px;
        position: relative;

        &__img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        &__btn {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 14px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

}

@media (min-width: 768px) {
    .books {
        padding-top: 90px;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .books {

        &_item {
            max-width: 480px;
            height: 480px;
        }

        .swiper-slide {
            max-width: 480px;
        }


        &__btn {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 23px 30px;
        }
    }
}

@media (min-width: 1440px) {}