:root {
    --bg-primary: #fff;
    --primary-color: #333;
    --secondary-color: #000;
    --font-family: "Urbanist";
    --grid-width: 1600px;
}

.row {
    margin: 0 auto;
    max-width: var(--grid-width);
    padding: 0 20px;
    position: relative;
    width: 100%;

}

.pager {
    display: flex;
    gap: 12px;
    font-size: 0;

    &__a {
        background: rgba(51, 51, 51, .3);
        border-radius: 125px;
        height: 8px;
        width: 42px;
        display: block;

        &.active {
            background: #AED27F;
        }
    }

    &--right {
        justify-content: flex-end;
    }

    &--center {
        justify-content: center;
    }
}


.swiper-pagination {
    display: flex;
    font-size: 0;
    gap: 12px;
    position: relative !important;

    .swiper-pagination-bullet {
        margin: 0 !important;
        background: rgba(51, 51, 51, .3);
        border-radius: 125px;
        height: 8px;
        width: 42px;

        &.swiper-pagination-bullet-active {
            background: #AED27F !important;
        }
    }

}

//min-width: 768px
//min-width: 1024px
//min-width: 1440px

@media (min-width: 768px) {
    // Tablet

    .pager {
        gap: 8px;

        &__a {
            width: 95px;
        }
    }

    .swiper-pagination {

        .swiper-pagination-bullet {

            width: 95px;

        }

    }
}

@media (min-width: 1024px) {
    // Tablet / escritorios pequeños
}

@media (min-width: 1440px) {
    // Big PC
}