@font-face {
  font-family: "Urbanist";
  src: url("../fonts/urbanist-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/urbanist-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--primary-color);
  font: 1rem/1.1 var(--font-family);
  margin: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
  outline: 0;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
}

figure,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
  text-indent: -9999px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
  font-family: var(--font-family);
}

input:focus,
input {
  font-size: 16px;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

:root {
  --bg-primary: #fff;
  --primary-color: #333;
  --secondary-color: #000;
  --font-family: "Urbanist";
  --grid-width: 1600px;
}

.row {
  margin: 0 auto;
  max-width: var(--grid-width);
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.pager__a {
  background: rgba(51, 51, 51, 0.3);
  border-radius: 125px;
  height: 8px;
  width: 42px;
  display: block;
}
.pager--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .pager {
    gap: 8px;
  }
  .pager__a {
    width: 95px;
  }
}
.header {
  position: absolute;
  top: 30px;
  left: 0;
  color: white;
  width: 100%;
  z-index: 2;
}
.header__logo {
  fill: white;
  height: auto;
  width: 70px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: none;
}

@media (min-width: 768px) {
  .header {
    top: 95px;
  }
  .header__nav {
    font-size: 16px;
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
  }
  .header__logo {
    height: auto;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header__nav {
    font-size: 20px;
    gap: 35px;
  }
}
@media (min-width: 1440px) {
  .header__nav {
    font-size: 25px;
    gap: 45px;
  }
}
.footer {
  background: #333;
  color: white;
  padding: 140px 0;
  gap: 155px;
}
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 155px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}
.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title {
  font-size: 42px;
}

.section_hero {
  background: #000;
  color: white;
  height: 100vh;
}
.section_hero__title {
  position: absolute;
  bottom: 230px;
  right: 20px;
  font-size: 75px;
  max-width: 240px;
}
.section_hero .row {
  height: 100%;
}

@media (min-width: 768px) {
  .section_hero__title {
    right: 45px;
    font-size: 135px;
    max-width: inherit;
  }
}
@media (min-width: 1024px) {
  .section_hero__title {
    font-size: 185px;
  }
}
@media (min-width: 1440px) {
  .section_hero__title {
    font-size: 235px;
  }
}
.section_about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
  text-align: center;
  gap: 15px;
}
.section_about__text {
  font: 400 25px/1 var(--font-family);
}
.section_about__title {
  font: 700 42px/1 var(--font-family);
}

@media (min-width: 768px) {
  .section_about__row {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .section_about__text {
    font-size: 30px;
  }
  .section_about__title {
    font-size: 47px;
  }
}
@media (min-width: 1024px) {
  .section_about__row {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .section_about__text {
    font-size: 35px;
  }
  .section_about__title {
    font-size: 90px;
    max-width: 1240px;
    margin: auto;
  }
}
@media (min-width: 1530px) {
  .section_about__row {
    padding-bottom: 160px;
    padding-top: 160px;
  }
  .section_about__text {
    font-size: 42px;
  }
  .section_about__title {
    font-size: 124px;
    max-width: 1440px;
  }
}
.section_how {
  background: #F3F2F0;
}

.item_how__row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.item_how__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.item_how__label {
  font: 400 25px/1 var(--font-family);
}
.item_how__title {
  font: 700 42px/1 var(--font-family);
}
.item_how__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.item_how__ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  gap: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item_how__ul-first {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.item_how__image {
  height: 170px;
  width: 100%;
}
.item_how__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .item_how__row {
    gap: 25px;
  }
  .item_how__header {
    position: relative;
  }
  .item_how__label {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 30px;
  }
  .item_how__title {
    font-size: 47px;
  }
  .item_how__content {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .item_how__row {
    gap: 30px;
  }
  .item_how__label {
    font-size: 32px;
    top: 30px;
  }
  .item_how__title {
    font-size: 90px;
  }
  .item_how__content {
    font-size: 22px;
  }
  .item_how__image {
    height: 280px;
  }
}
@media (min-width: 1530px) {
  .item_how__label {
    font-size: 42px;
    top: 50px;
  }
  .item_how__title {
    font-size: 138px;
  }
  .item_how__content {
    font-size: 25px;
  }
  .item_how__image {
    height: 368px;
  }
}